@import "bootstrap.min";
@import "bootstrap-theme.min";
@import "font-awesome/font-awesome";

/* Layout */
html, body {
	height: 100%;
	background: #f4f4f4;
}
#wrap{
	min-height: 100%;
}
#side{
	float: left;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	padding-top: 51px;
	width: 240px;
	background: #222;
	position: fixed;
}
#page{
	overflow-x: auto;
	padding-top: 65px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 75px;
	margin-bottom: -60px;
	background: #f4f4f4;
}
#footer{
	background: #222;
	height: 60px;
}

@media (min-width: 768px) {
	#page{
		margin-left: 240px;
	}
	body[data-template="blank"] #page{
		margin-left: 0;
	}
}

/* Login */

.form-signin{
	padding-bottom: 200px;
}

/* Top Navigation */

#topnav .navbar-brand{
	padding: 0 10px;
	line-height: 50px;
	color: #fff;
}

#topnav .navbar-brand img{
	height: 32px;
}

#topnav .navbar-brand i{
	position: relative;
	top: 3px;
	left: 6px;
	text-shadow: 1px 1px 2px #000;
}

/* Left Side Navigation */

@import "sidenav";

